{% extends 'base.html.twig' %}

{% block title %}Nouvelle recette
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Nouvelle recette
		</h1>

		{{ form(form) }}
			<a href="{{ path('recipe.index') }}" class="btn btn-outline-secondary">Retour à la liste des recettes</a>
		</div>
	{% endblock %}
